<div>
<div class="container">
    <div class="row justify-content-end align-items-center" style="min-height: 500px;">
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <div class="description">
          <h2>Mohamed Kaaniche</h2>
          <p></p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <div class="position-relative h-100">
          <img src="assets/img/mohamed kaaniche pdp.jpg" alt="Avatar" class="circle" style="width: 300px; height: 300px;">
        </div>
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="row justify-content-end align-items-center" style="min-height: 500px;">
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <div class="position-relative h-100">
          <img src="assets/img/mohamed kaaniche pdp.jpg" alt="Avatar" class="circle" style="width: 300px; height: 300px;">
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <div class="description">
          <h2>Mohamed Kaaniche</h2>
          <p>.</p>
        </div>
      </div>
    </div>
  </div>
</div>