


<div class="container justify-content-center">
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="row g-4 w-100">
    
    
        <div class="col-md-6 d-flex justify-content-start align-items-center" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="rounded w-100 h-105" src="assets/img/grocerylistresized.png" style="object-fit: cover;" alt="">
          </div>
        </div>
    
    
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h1 class="mb-4">Your grocery list automatically made for you</h1>
          <p class="mb-4">After planning your recipes for the week, all the ingredients needed to cook those recipes will be added to your grocery list</p>
          <p><i class="fa fa-check text-primary me-3"></i>Groupe ingredients by day/category </p>
          <p><i class="fa fa-check text-primary me-3"></i>Note purchased ingredients</p>
          <p><i class="fa fa-check text-primary me-3"></i>Only get what you need and save money on unused ingredients going bad</p>
        </div>
    
    
        
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="row g-4 w-100">
          
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class=" text-da ">Save money</h1>
            <p class="mb-4">The grocery list feature guarantees that you'll keep track of the exact ingredients you've purchased or need to buy. Say goodbye to ingredients spoiling in your fridge and say hello to money saved in your pocket. 
          </div>
        
    
    
          <div class="col-md-6 d-flex justify-content-md-end align-items-center" style="min-height: 500px;">
            <div class="position-relative h-100">
              <img class="rounded w-100 h-105" src="assets/img/groceries-2.jpg" style="object-fit: cover;" alt="">
            </div>
        </div>
    
        </div>
      </div></div>