.vh-100 {
    min-height: 70%;
  }
  
  /*.position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }*/
  
  .w-100 {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .h-105 {
    height: 80%;
    box-shadow: 0 4px 8px rgba(13, 2, 51, 0.2); /* Add a shadow to the video */
    border-radius: 10px; /* Optional: Add rounded corners */
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    width: 60%;

  }
  .h-105:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); 
  }
  
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .text-primary {
    color: #84baf3;
  }
  h1{
    margin-top: 0;
    font-size: 250%;
  }
  p{
    font-size: 120%;
  }
  .container{
   
    width: 70%vw;
  }
  @media (max-width: 768px) {
    .col-md-6 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    .container h1 {
      font-size: 24px; /* Example smaller font size for h1 on smaller screens */
    }
    
    .container p {
      font-size: 16px; /* Example smaller font size for paragraphs on smaller screens */
    }
  }