


<div class="container justify-content-center">
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="row g-4 w-100">
    
    
        <div class="col-md-6 d-flex justify-content-start align-items-center" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="rounded w-100 h-105" src="assets/img/reciperesized.png" style="object-fit: cover;" alt="">
          </div>
        </div>
    
    
        <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="mb-4">Different recipes to explore</h1>
        <p class="mb-4">Enjoy an array of well explained recipes and nail them first try. Your family and friends won't believe the cook that you've become.</p>
        <p><i class="fa fa-check text-primary me-3"></i>Step by step mode</p>
        <p><i class="fa fa-check text-primary me-3"></i>Detailed videos</p>
        <p><i class="fa fa-check text-primary me-3"></i>Nutritional facts</p>
        <!-- <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a> -->
      </div>
    </div>
    
        
      </div>
    
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="row g-4 w-100">
          
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class=" text-da">More variety</h1>
            <p class="mb-4">Our recipe suggestion algorithm and detailed videos make trying new recipes a breeze, adding more variety and fun to your diet. 
          </div>
    
    
          <div class="col-md-6 d-flex justify-content-md-end align-items-center" style="min-height: 500px;">
            <div class="position-relative h-100">
              <img class="rounded w-100 h-105" src="assets/img/recipe-2.jpg" style="object-fit: cover;" alt="">
            </div>
        </div>
    
        
    </div>
</div>