.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.h-100{
    height: 100%;
    box-shadow: 0 4px 8px rgba(13, 2, 51, 0.2); /* Add a shadow to the video */
    border-radius: 10px; /* Optional: Add rounded corners */
    transition: box-shadow 0.3s ease, transform 0.3s ease; 

}
.d-flex {
    display: flex;
    justify-content: space-around; /* Space out the elements evenly */
    align-items: center;
  }
  