


<div class="container justify-content-center">
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="row g-4 w-100">


    <div class="col-md-6 d-flex justify-content-start align-items-center" style="min-height: 500px;">
      <div class="position-relative h-100">
        <img class="rounded w-100 h-105" src="assets/img/weekplan.png" style="object-fit: cover;" alt="">
      </div>
    </div>


    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="mb-4">Easily plan your meals for the whole week</h1>
      <p class="mb-4">With the week plan feature you add the recipes that you want to cook for each meal to end up with a week full of deliciousness.</p>
      <p><i class="fa fa-check text-primary me-3"></i>Calorie intake tracker</p>
      <p><i class="fa fa-check text-primary me-3"></i>Recipe suggestions</p>
      <p><i class="fa fa-check text-primary me-3"></i>Customisable meals</p>
    </div>


    
  </div>
</div>
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="row g-4 w-100">
      
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class=" text-da ">Gain time</h1>
        <p class="mb-4">When you adopt weekly meal planning, you unlock the power of batch cooking. Prepare multiple delicious recipes in one go, portion them, and store them in your fridge. This straightforward yet effective approach not only saves you precious time but also reduces effort spent in the kitchen. 
      </div>
    


      <div class="col-md-6 d-flex justify-content-md-end align-items-center" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="rounded w-100 h-105" src="assets/img/cooking-2.jpg" style="object-fit: cover;" alt="">
        </div>
    </div>

    </div>
  </div></div>